{% extends "base.html" %}

{% block title %}Station 1 – Die Lok{% endblock %}
{% block header_title %}Station 1 / 4{% endblock %}

{% block content %}
{% if already_done %}
<div class="warning-card">
  <div class="card-label">Zu früh zurück!</div>
  <p>Geh zur Karte und scanne den Start-QR.</p>
</div>
{% endif %}

<div class="card">
  <div class="card-label">Grafitti</div>
  <h2>Lok Gefunden!</h2>
  <p>
    Aber irgendwas stimmt nicht,<br>
    Geh zurück zur Karte und scanne den Start-QR-Code um herauszufinden was fehlt.
  </p>
</div>
{% endblock %}
