{% extends "base.html" %}

{% block title %}Jim Knopf am Verstehbahnhof{% endblock %}
{% block header_title %}Jim Knopfs Abenteuer{% endblock %}

{% block content %}

<div>

</div>

<div class="card">
  <h2>Was ist das: ein GeoCache</h2>
  <p>
    Das hier ist die begleitende Seite für einen GeoCache <a href="https://www.geocaching.com/geocache/GCBN2XH" target="_blank">GCBN2XH</a>
    Ein GeoCache ist wie eine Schnitzeljagd, bei der du mit GPS und z.B. QR-Codes versteckte Stationen findest. Hier mit einer Geschichte über Jim Knopf:
  </p>
  <p>
    Jim Knopf und Lukas der Lokomotivführer sind am Verstehbahnhof gestrandet.
    Lukas Lokomotive Emma ist verschwunden - ohne sie kommen die beiden nicht zurück nach Augsburg.
  </p>
  <p>
    Kannst du ihm helfen?
  </p>
</div>

<div class="card">
  <div class="card-label">Wo es losgeht</div>
  <h2>Geh zum Start</h2>
  <p>
    <strong>Gleis 1</strong> &mdash; Schaufenster Verstehbahnhof.<br>
    Dort wartet Emma und der erste QR-Code für dein Abenteuer.
  </p>
</div>
{% endblock %}
